* {
  box-sizing: border-box;
  margin: 0;
}
header {
  border-width: 2px 5px;
  border-style: solid;
  border-color: blueviolet;
  width: 99vw;
  height: auto;
  min-height: 100px;
  background-color: bisque;
  text-align: center;
  margin: 0.5vw 0.5vw 0 0.5vw;
  padding-bottom: 10px;
}
nav {
  border-style: solid;
  border-color: blue;
  border-width: 2px 5px;
  background-color: coral;
  float: left;
  width: 99vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-top: 2px;
  margin-bottom: 2px;
  height: auto;
  min-height: 10vh;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  border-radius: 5px;
}
aside {
  width: 15vw;
  float: left;
  border: 2px solid blueviolet;
  background-color: darkgoldenrod;
  height: auto;
  min-height: 70vh;
  margin-left: 0.5vw;
  border-radius: 5px 0 0 5px;
}
main {
  width: 60vw;
  height: auto;
  min-height: 70vh;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
  float: left;
  background-color: burlywood;
}
section {
  width: 22.5vw;
  float: left;
  height: auto;
  min-height: 70vh;
  background-color: beige;
  margin-right: 0.5;
  border-radius: 0 5px 5px 0;
}
article {
  width: 98%;
  height: 23vh;
  background-color: chocolate;
  margin-bottom: 0.2%;
}
footer {
  width: 98vw;
  background-color: #a68064;
  color: #f0ffff;
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
  height: auto;
  min-height: 15vh;
  float: left;
  text-align: center;
  margin: 0.25vh 0.5vw 0;
  border-radius: 5px 5px 0 0;
}
nav li {
  display: inline-block;
  width: 12%;
  list-style-type: none;
  background-color: #ffe1ff;

  margin-top: 0.25vh;
}
nav li:hover {
  border-radius: 5px;
  font-weight: bolder;
  background-color: #cd9b9b;
  color: floralwhite;
  height: 5vmin;
}
td:hover {
  background-color: brown;
  color: white;
  font-weight: bolder;
  font-size: xx-large;
}
nav a {
  text-decoration: none;
}
a > li {
  font-weight: bolder;
  color: #ee0000;
}
h2{
    text-align: center;
    text-decoration: underline;
}
            body{
                font-size:large;
                background-color: antiquewhite;
            }

            fieldset{
                border-radius:10px;
            }
            legend{
                font-weight: bold;
                border-radius: 10px;
                text-align: center;
                width:auto;
            }
            input[type="text"],input[type="date"], input[type="tel"]{
                border-radius:5px;
                height:20px;
                width:20%;
            }
            input[type="submit"]{
                border-radius:5px;
                height:30px;
                width:10%;
                font-weight: bold;
                background-color: coral;
            }

@media only screen and (max-width: 600px) {
  aside,
  section {
    display: none;
  }
  main {
    width: 98vw;
    margin: 0 0.25vw;
    background-color: beige;
  }
  nav li {
    width: 80%;
    margin: 0.25vh 5%;
    height: auto;
    min-height: 5vh;
  }
}
tr:nth-child(even) {
  background-color: blue;
  color: white;
  font-weight: bold;
}

@media only screen and ((min-width: 600px) and (max-width:992px)) {
  aside,
  section {
    display: none;
  }
  nav {
    width: 30vw;
    float: left;
    min-height: 70vh;
    height: auto;
  }
  main {
    width: 68vw;
    background-color: #ffe1ff;
  }
  nav li {
    width: 90%;
    min-height: 5vmax;
  }
}